@font-face{
	font-family: 'negrita';
	src: url('../fonts/tt0310m_.ttf');
}
body{
	background: #e6e6e6;
}
#curso img{
	border-radius: 50%;
}
.navbar {
	background: #0477B3;
}
.bold{
	font-family: 'negrita';
	color: #666;
	background: white;
	text-align: center;
}
.video{
	background: url('../img/video.png') no-repeat;
	width: 383px;
	height: 282px;
	z-index: 0;
}
.video_link{
	max-width: 300px;
	cursor: pointer;
}
.video_link>img{
	margin-left: 15px;
	margin-top: 15px;
	width: 353.5px;
	height: 204px;
}
.video_link>iframe{
	margin-left: 15px;
	margin-top: 15px;
	width: 353.5px;
	height: 204px;
}
hr{
	border: 3px solid #b3b3b3;
	margin: 0;
}
.down{
	background: #f2f2f2;
}
.seccion{
	border-right: 3px solid #72777b;
	height: 80px;
}
.seccion:last-child{
	border: 0;
}
.seccion>h3{
	font-size: 14px;
	font-weight: bold;
	color: #72777b;
}
.seccion>span{
	font-size: 13px;
}
.mundo{
	height: 110px;
	text-align: center;
	padding-top: 15px;
}
.mundo>img{
	width: 50px;
}
.lila{
	background: #7000cc;
}
.verde{
	background: #33cc66;
}
.rojo{
	background: #ff6666;
}
.azul{
	background: #0477b3;
}
.amarillo{
	background: #ffcc00;
}
.naranja{
	background: #ff6600;
}
.mundo>div{
	background: black;
	margin-top: 14px;
	color: white;
	opacity: 0.4;
}
#enviado{
	display: none;
}
#curso h6{
	color: #A2A2A2;
	font-family: 'negrita';
	text-align: justify;
}