
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

		<title>EachOneTeachOne</title>

		<link rel="stylesheet" href="{{STATIC_URL}}css/gumby.css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
		<script type="text/javascript" src="{{STATIC_URL}}js/libs/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/libs/gumby.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>

	</head>
	<body>

		<div class="navbar">
			<div class="row">
				<a class="toggle" gumby-trigger="#nav1 > .row > ul" href="#"><i class="icon-menu"></i></a>
				<h1 class="four columns logo">
					<a href="./">
						<img src="{{STATIC_URL}}img/logo.png" gumby-retina="">
					</a>
				</h1>
			</div>
		</div>

		<div class="row">
			<div class="six columns">
				<div class="video">
					<a href="#" class="video_link">
						<iframe width="283" height="150" src="//www.youtube-nocookie.com/embed/BgCWvC7D89w?&modestbranding=1&showinfo=0&autohide=1&controls=0&rel=0" frameborder="0" allowfullscreen></iframe>
					</a>
				</div>
			</div>
			<div class="six columns">
				<h4 class="eleven columns bold">PASOS PARA EMPRENDER.</h4>
				<p>&nbsp;</p>
				<br />
				<center>
					<p>
						Este curso trata sobre como desarrollar tu negocio, para que no fracases en el intento, y que las bases del negocio sean solidas.
					</p>
				</center>
				<p>&nbsp;</p>
				<h4 class="eleven columns bold">¿QUE SE EXPLICA EN EL CURSO?</h4>
				<br /><br /><center>
				<p style="text-align:left; margin-left: 20px;">
					- Generar un Plan de Negocios <br />
					- Ver aspectos del Mercado<br />
					- Como generar y hacer Validaciones<br />
					- Ser mas Inteligentes y Trabajar Menos<br />
					- Hacer prototipo<br />
				</p></center>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="two columns">
				
			</div>
			<div class="eight columns" style="background-color: #0477b3; padding: 0 0 25px 0;">
				<h3 style="color: white; background: none;" class="bold">El curso incluye:</h3>
				<div class="one column"></div>
				<div class="five columns" style="background-color: #e6e6e6">
					<h5 class="bold" style="background: none">-Directorios<br />
					-Formatos para ejercicios</h5>
				</div>
				<div class="five columns" style="background-color: #e6e6e6">
					<h5 class="bold" style="background: none">-Ejemplos documentados<br />
					-Resolucion de dudas</h5>
				</div>
				<div class="one column"></div>
			</div>
			<div class="two columns">
				
			</div>
		</div>
		<br />
		<div id="curso" class="wrapper"  style="background-color: #333333; padding:15px 0px 15px 0px">
			<div class="row">
				<div class="eight columns">
					<h4 style="color: white">Compra este curso, y accede a su contenido.</h4>
					<h5 style="color: white">Clases grabadas y respuesta a todas tus preguntas.</h5>
				</div>
				<div class="three colums">
					<div class="pretty button warning btn">
						<h5 class="bold" style="background:none">Registrate al curso por solo</h5><h3 class="bold" style="background:none">$15 MX</h3>
					</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="two columns">
					<img src="http://i.imgur.com/srSsFPC.jpg" width="130">
				</div>
				<div class="ten colums">
					<div class="pretty button warning btn">
						<h4 class="bold">Marilyn Priscila Soza - Emprendedora y Conferencista</h4>
					</div>
					<h6>
						Marylin Priscila Soza; Es una de las mas reconocidas emprendedoras de latinoamerica e internacionalmente reconocida como conferencista en el ambito de las empresas, con mas de 15 años de experiencia. Actualmente se dedica a dar asesoria para pequeñas y medianas empresas sobre los startups. <br />
						Co-Fundadora de EachOneTeachOne.
					</h6>
				</div>
			</div>
		</div>
	</body>
</html>