<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

		<title>EachOneTeachOne</title>

		<link rel="stylesheet" href="{{STATIC_URL}}css/gumby.css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
		<script type="text/javascript" src="{{STATIC_URL}}js/libs/jquery-1.10.1.min.js"></script>
		<script src="{{STATIC_URL}}js/libs/modernizr-2.6.2.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/libs/gumby.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>

	</head>
	<body>

		<div class="navbar">
			<div class="row">
				<a class="toggle" gumby-trigger="#nav1 > .row > ul" href="#"><i class="icon-menu"></i></a>
				<h1 class="four columns logo">
					<a href="./">
						<img src="{{STATIC_URL}}img/logo.png" gumby-retina="">
					</a>
				</h1>
			</div>
		</div>

		<div class="row">
			<div class="six columns">
				<h4 class="bold">COMPARTE TUS CONOCIMIENTOS.</h4>
				<p>
					Encuentra el tema académico que desees APRENDER, obtén informacion detallada sobre las lecciones y se el mejor en tu clase. <br />
					Si dominas algun tema académico y deseas GENERAR INGRESOS de forma sencilla, sube tus clases y monetiza tu conocimiento.
				</p>
				<p>&nbsp;</p>
				<h4 class="eleven columns bold">¿DESEAS MAS INFORMACIÓN?</h4>
				<br /><br />

				<div id="enviado" class="eleven columns">
					<li class="success alert">Bienvenido, estaremos en contacto</li>
				</div>
				<div class="append field eleven columns">
					<form id="formulario">
						<input class="wide email input" type="email" id="email" placeholder="Ingresa tu correo electronico" required />
						<div class="medium primary btn"><button type="submit">Enviar</button></div>
					</form>
				</div>
			</div>
			<div class="six columns">
				<div class="video">
					<a href="#" class="video_link">
						<img src="{{STATIC_URL}}img/prevVideo.png">
						<!--<iframe width="283" height="150" src="//www.youtube-nocookie.com/embed/BgCWvC7D89w?&modestbranding=1&showinfo=0&autohide=1&controls=0&rel=0" frameborder="0" allowfullscreen></iframe>-->
					</a>
				</div>
				<center><h5>Este es un video demostrativo de la promoción de un curso de emprendedores</h5></center>
			</div>
		</div>
		<br /><br />
		<hr />

		<div class="down">
			<br />
			<div class="row">
				<div class="three columns seccion">
					<h3>Lecciones</h3>
					<span>Disponibles en cualquier momento</span>
				</div>
				<div class="three columns seccion">
					<h3>Recursos</h3>
					<span>Notas, Imagenes, Pdf, Resumenes y mas</span>
				</div>
				<div class="three columns seccion">
					<h3>Sistema de Discución</h3>
					<span>Respuesta a todas tus dudas</span>
				</div>
				<div class="three columns seccion">
					<h3>Monetiza tu Conocimiento</h3>
					<span>Enseña y Ganaras</span>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="three columns"></div>
				<div class="six columns">
					<h4 class="bold">AREAS ESPECIALIZADAS.</h4>
				</div>
				<div class="three columns"></div>
			</div>
			<br />
			<div class="row">
				<div class="two columns mundo lila">
					<img src="{{STATIC_URL}}img/mundo.png" />
					<div>
					</div>
				</div>
				<div class="two columns mundo verde">
					<img src="{{STATIC_URL}}img/mundo.png" />
					<div>
					</div>
				</div>
				<div class="two columns mundo naranja">
					<img src="{{STATIC_URL}}img/mundo.png" />
					<div>
					</div>
				</div>
				<div class="two columns mundo amarillo">
					<img src="{{STATIC_URL}}img/mundo.png" />
					<div>
					</div>
				</div>
				<div class="two columns mundo rojo">
					<img src="{{STATIC_URL}}img/mundo.png" />
					<div>
					</div>
				</div>
				<div class="two columns mundo azul">
					<img src="{{STATIC_URL}}img/mundo.png" />
					<div>
					</div>
				</div>
			</div>
			<br />
		</div>

		<div class="modal active" id="modal_princ">
		  	<div class="content">
				<div class="row">
					  <div id="opciones" class="ten columns centered text-center">
						<h2>Visita nuestro catalogo cursos</h2>
						<br />
						<div class="medium icon-left icon-monitor primary btn"><a id="1" href="#">Desarrollo Web</a></div>
						<div class="medium icon-right icon-globe danger btn"><a id="2" href="#">Emprendimiento</a></div>
						<br /><br />
						
						<div class="medium icon-left icon-tools success btn"><a id="4" href="#">Calculo</a></div>
						<div class="medium icon-left icon-flow-branch warning btn"><a id="3" href="#">Calculo</a></div>
						<br /><br />

						<li class=" danger label"><i class="icon-star"></i> Aprovecha nuestros precios por apertura! <i class="icon-star"></i></li>
			  		</div>
				</div>
		  	</div>
		</div>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-45142354-1', 'eachoneteachone.co');
			ga('send', 'pageview');

		</script>

	</body>
</html>