<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

		<title>EachOneTeachOne</title>

		<link rel="stylesheet" href="{{STATIC_URL}}css/gumby.css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
		<script type="text/javascript" src="{{STATIC_URL}}js/libs/jquery-1.10.1.min.js"></script>
		<script src="{{STATIC_URL}}js/libs/modernizr-2.6.2.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/libs/gumby.min.js"></script>

	</head>
	<body>

		<div class="navbar">
			<div class="row">
				<a class="toggle" gumby-trigger="#nav1 > .row > ul" href="#"><i class="icon-menu"></i></a>
				<h1 class="four columns logo">
					<a href="./">
						<img src="{{STATIC_URL}}img/logo.png" gumby-retina="">
					</a>
				</h1>
			</div>
		</div>

		<div class="row">
			<div class="six columns">
				<h4 class="bold">PROXIMAMENTE!</h4>
			</div>
		</div>
		

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-45142354-1', 'eachoneteachone.co');
			ga('send', 'pageview');

		</script>

	</body>
</html>